/**
 * global setting
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}


/**
 * default styles
 */

input, textarea, select, button, a {
  outline: none;
}

button {
  border: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
}

button::-moz-focus-inner {
  border: 0;
}

input[type=text] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  height: 26px;
  padding-left: 5px;
  padding-right: 5px;
}

input[type=text]:hover {
  background-color: whitesmoke;
}

input[type=text]:focus {
  border-bottom: 1px solid dimgray;
}

select {
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  height: 26px;
  padding-left: 5px;
  padding-right: 5px;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 black;
}

select:hover {
  background-color: whitesmoke;
}

select:focus {
  border-bottom: 1px solid dimgray;
}

table {
  border-collapse: collapse;
}

hr {
  border: 0;
  border-bottom: 1px solid lightgray;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { 
  top: 0.4em; 
}



/* general classes */

.hidden {
  display: none !important;
}

.indent {
  padding-left: 10px;
}

.vertical {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

p.setting {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

p.setting label:first-child {
  margin-right: auto;
}

p.setting button:only-child {
  margin-right: auto;
}

button.pressed {
  border: 1px solid darkgray;
  box-sizing: border-box;
  /* background-color: darkgray !important;
  color: white !important; */
}

button.static {
  background-color: transparent;
  color: black;
}

button.static:hover {
  background-color: whitesmoke;
}

button.square {
  width: 24px;
  padding: 0 !important;
}

button.switch {
  background-color: lightgray;
}

button.close {
  background-color: transparent;
  font-size: 16px;
  float: right;
  width: 24px;
  height: 24px;
}

button.close:hover {
  background-color: lightgray;
}


/**
 * dock
 */

div.dock {
  z-index: 2;
}

/**
 * toolbar
 */

div.toolbar {
  color: dimgray;
  background-color: white;
  height: 28px;
  border-bottom: 1px solid lightgray;
  flex-shrink: 0;
  position: -webkit-sticky;
  position: sticky; /* IE incompatible */
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.toolbar button {
  color: dimgray;
  background-color: transparent;
  height: 100%;
  min-width: 28px;
}

div.toolbar button:hover {
  color: black;
  background-color: lightgray;
}

div.toolbar span.spacer {
  display: inline-block;
  height: 18px;
  width: 2px;
  border-left: 1px solid lightgray;
  margin-left: 2px;
}


/* toast */

#toast {
  min-width: 250px;
  margin-left: -125px;
  background-color: dimgray;
  opacity: 0.75;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 15px;
  position: fixed;
  z-index: 3;
  left: 50%;
  bottom: 50px;
}


/* modal */

div.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
}

div.modal-content {
  border: none;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.25);
  background: white;
  max-width: 80%;
  margin: 5% auto;
  padding: 10px;
  overflow: hidden;
}

div.modal-head {
  font-weight: bold;
  height: 32px;
}

/* tooltip (currently not used) */

div.tooltip {
  display: none;
  position: absolute;
  text-align: left;
  opacity: 0.8;
  margin-left: -100px;
  margin-top: -25px;
  background: lightyellow;
  border: 1px solid gray;
  box-shadow: 6px 6px 3px gray;
}


/* button group (currently not used) */

/* span.btn-group button {
  height: 22px;
  color: dimgray;
}

span.btn-group button:first-child {
  border-radius: 7px 0 0 7px;
}

span.btn-group button:last-child {
  border-radius: 0 7px 7px 0;
}

span.btn-group button:not(:first-child):not(:last-child) {
  border-radius: 0;
}
*/


/* shared elements */

/* popup select */

div.popup {
  position: fixed;
  z-index: 2;
  background-color: white;
  min-width: 100px;
  box-shadow: 3px 3px 15px lightgray;
  /* padding: 5px; */
}

div.popup p {
  margin: 5px 10px;
}

table.square td {
  width: 24px;
  height: 24px;
  color: dimgray;
  text-align: center;
  cursor: pointer;
}

table.square td:hover {
  background-color: whitesmoke;
  color: black;
}

#list-options {
  width: 100%;
  border: none;
}

#list-options td {
  padding: 5px;
  cursor: pointer;
}

#list-options td:hover {
  background-color: whitesmoke;
}

#list-options td.active {
  background-color: lightsteelblue !important;
}


/* main plot */

canvas.main-plot {
  min-width: 800px;
  min-height: 800px;
  position: absolute;
}

#coords-label {
  position: absolute;
  left: 20px;
  top: 20px;
  color:dimgray;
  font-family: monospace;
  background: white;
  border: 1px solid dimgray;
}


/* drag & drop sign */

#drop-sign {
  position: absolute;
  border: 5px dashed lightgray;
  text-align: center;
  width: 90%;
  left: 50%;
  margin-left: -45%;
  height: 600px;
  top: 300px;
  margin-top: -200px;
}

#drop-sign p {
  font-size: xx-large;
  color:lightgray;
}


/**
 * dashboard
 */

#dash-frame {
  position: fixed;
  top: 0;
  left: 0;
}

/** start panel */

#start-panel {
  width: 100%;
  height: 32px;
}

#menu-btn {
  width: 100px;
  font-size: 12px;
  font-style: oblique;
  font-weight: bold;
}

#dash-btn {
  width: 32px;
}

#dash-btn:after {
  position: absolute;
  content: "";
  top: 13px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: white transparent transparent transparent;
}

#dash-btn.active:after {
  border-color: transparent transparent white transparent;
  top: 6px;
}

/** dash panel */

button.dash-head {
  height: 35px;
  width: 100%;
  text-align: left;
  padding: 10px 20px;
}

div.dash-content {
  color: black;
  background-color: white;
  padding: 10px 15px;
}

div.dash-content p {
  margin: 0;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.dash-content p *:first-child {
  margin-right: auto;
}

div.dash-content button {
  height: 24px;
  padding: 0 5px;
}

div.dash-content table {
  margin: 0 0 5px 0;
}

div.dash-content table tr {
  line-height: 26px;
}

div.dash-content table tr td {
  padding: 0;
  white-space: nowrap;
}

div.dash-content table tr td:first-child {
  text-align: right;
  padding-right: 5px;
}

div.dash-content table tr td:nth-child(2) {
  width: 100%;
  padding-right: 5px;
}

div.dash-content table tr td:nth-child(2) input[type=text], select {
  width: 100%;
}
/* 
div.dash-content table tr td:nth-child(2) select {
  width: 100%;
} */


/**
 * context menu
 */

#context-menu {
  position: fixed;
  min-width: 160px;
  padding: 5px 0;
  border: none;
  background-color: white;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

#context-menu a {
  color: black;
  padding: 6px 12px;
  text-decoration: none;
  display: block;
}

#context-menu a:hover {
  background-color: gainsboro;
}

#context-menu hr {
  margin-left: 10px;
  margin-right: 10px;
}


/**
 * screenshot
 */

#widget-frame {
  position: fixed;
  left: 0;
  bottom: 0;
}

#widget-frame > div {
  display: inline-block;
  height: 32px;
  color: white;
}

#widget-frame > div > button {
  height: 100%;
  width: 32px;
}

#widget-frame div:not(:first-child) {
  border-left: 1px solid white;
}


/**
 * side frame
 */

#side-frame {
  width: 360px;
  min-width: 240px;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

/* show/hide buttons */

#show-frame {
  position: fixed;
  top: 0;
  right: 0;
}

#show-side-btn, #hide-side-btn{
  height: 32px;
  width: 32px;
}

#show-side-btn:after, #hide-side-btn:after{
  position: absolute;
  content: "";
  top: 12px;
  right: 12px;
  height: 0;
  width: 0;
  border: 4px solid transparent;
}

#show-side-btn:after {
  border-color: transparent transparent white white;
}

#hide-side-btn:after {
  border-color: white white transparent transparent;
}

/* side panels */

 div.side-head {
  background-color: dimgray;
  height: 32px;
  color: white;
}

div.side-content {
  border-top: 0;
  resize: vertical; /* IE incompatible */
  overflow: auto;
  display: flex;
  flex-direction: column;
}

div.side-head span {
  height: 100%;
}

div.side-head button {
  height: 100%;
  color: white;
  background: transparent;
}

div.side-head span:last-of-type {
  display: block;
  overflow: hidden;
}

div.side-head span:last-of-type button {
  width: 100%;
  text-align: left;
}

div.side-head button:hover {
  background: darkgray;
}


/* #display-items select {
  width: 100px;
} */


/* select panel */

#select-utils {
  padding-bottom: 5px;
}

#select-utils p {
  margin-top: 0;
  margin-bottom: 0;
}

#str-match-span button {
  background-color: transparent;
  color: gray;
}

#str-match-span button:hover {
  background-color: whitesmoke;
  color: black;
}


/* bins panel */

#bin-table {
  width: 100%;
  border: none;
  flex-grow: 1;
}

#bin-thead {
  background-color: whitesmoke;
}

#bin-tbody {
  overflow: auto;
  /* min-height: 100px; */
}

#bin-table th,td {
  padding: 2px 5px;
}

#bin-thead th {
  overflow: auto;
}

#bin-thead tr th {
  font-weight: normal;
}

#bin-tbody tr:hover {
  background-color: whitesmoke;
}

#bin-thead tr th:first-child {
  width: 40%;
  text-align: left;
}

#bin-thead tr th:nth-last-child(-n+3) {
  width: 20%;
  text-align: right;
}

#bin-tbody tr td:nth-last-child(-n+3) {
  text-align: right;
}

#bin-tbody tr.selected {
  background-color: lightsteelblue ;
}

#bin-tbody tr.current {
  font-weight: bold;
}

#bin-tbody input[type=text] {
  width: 100%;
}


/**
 * info panel
 */

/* information table */

#info-table {
  width: 100%;
  border: none;
}

#info-table tr td {
  vertical-align: baseline;
  height: 20px;
}

#info-table tr td:nth-child(1) {
  width: 25%;
  text-align: right;
  padding: 0 5px 0 0;
  font-weight: bold;
}

#info-table tr td:nth-child(2) {
  text-align: left;
  padding: 0 0 0 5px;
}

#info-table tr:hover {
  background-color: whitesmoke;
}

/** control span */

#info-ctrl-span {
  margin: 0;
  padding: 0;
  color: dimgray;
  float: right;
  display: block;
  position: relative;
  top: 0;
  height: 20px;
}

#info-ctrl-span button {
  background-color: transparent;
  color: dimgray;
  width: 20px;
  height: 100%;
  margin: 0;
  padding: 0;
}

#info-ctrl-span button:hover {
  background-color: lightgray;
  color: black;
}

#info-ctrl-span select {
  background-color: transparent;
  color: dimgray;
  height: 100%;
  padding: 0;
  border: none;
  min-width: 30px;
  max-width: 50px;
}

#info-ctrl-span select:hover {
  background-color: white;
}


/* data table */

#data-table-container {
  max-height: 600px;
  overflow: auto;
}

table.sheet {
  border: none;
  background-color: white;
  table-layout: fixed;
}

table.sheet thead {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

table.sheet thead td {
  font-weight: bold;
  text-align: center;
  line-height: 200%;
}

table.sheet tbody td {
  text-align: left;
  /* overflow-wrap: break-word; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 5px;
  /* width: 100%;
  max-width: 0; */
}

table.sheet tbody tr:hover {
  background-color: whitesmoke;
}

table.sheet tbody td:hover {
  background-color: lightgray;
}

table.sheet tbody tr td:nth-last-child(2)+td {
  padding-left: 10px;
  text-align: left;
}

/* column widths by data type */

table.sheet thead td[data-type="id"] {
  max-width: 50px;
}

table.sheet thead td[data-type="number"] {
  max-width: 75px;
}

table.sheet thead td[data-type="category"] {
  max-width: 100px;
}

table.sheet thead td[data-type="feature"] {
  max-width: 150px;
}

table.sheet thead td[data-type="description"] {
  max-width: 150px;
}


table.sheet th.sortable {
  background-color: lightgray;
  cursor: pointer;
}

table.sheet td.key {
  text-align: right;
  font-weight: bold;
  padding-right: 5px;
}

table.sheet td.value {
  text-align: left;
  padding-left: 5px;
  background: initial;
  cursor: auto;
}

table.sheet td.valueplus {
  text-align: left;
  padding-left: 5px;
  background: lightgray;
  cursor: pointer;
}

table.sheet td.detail {
  text-align: left;
  padding: 10px;
  background-color: lightyellow;
  font-size: 80%;
}
