/**
 * global setting
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}


/**
 * default styles
 */

input, textarea, select, button, a {
  outline: none;
}

button {
  border: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
}

button::-moz-focus-inner {
  border: 0;
}

input[type=text] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  height: 26px;
  padding-left: 5px;
  padding-right: 5px;
}

input[type=text]:hover {
  background-color: #EEE;
}

input[type=text]:focus {
  border-bottom: 1px solid dimgray;
}

select {
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  height: 26px;
  padding-left: 5px;
  padding-right: 5px;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 black;
}

select:hover {
  background-color: #EEE;
}

select:focus {
  border-bottom: 1px solid dimgray;
}

table {
  border-collapse: collapse;
}

hr {
  border: 0;
  border-bottom: 1px solid lightgray;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { 
  top: 0.4em; 
}



/* general classes */

.hidden {
  display: none !important;
}

.indent {
  padding-left: 10px;
}

.vertical {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

button.static {
  background-color: transparent;
  color: black;
}

button.static:hover {
  background-color: #EEE;
}

button.square {
  width: 24px;
  padding: 0 !important;
}

button.switch {
  background-color: lightgray;
}

button.inside {
  margin-left: -24px;
}


/**
 * shared classes
 */

/** panel head */

div.panel-head {
  background-color: dimgray;
  height: 32px;
  min-height: 32px;
  color: white;
  position: relative;
}

div.panel-head span {
  height: 100%;
}

div.panel-head button {
  height: 100%;
  color: white;
  background: transparent;
  font-size: 9pt;
}

div.panel-head span:last-of-type {
  display: block;
  overflow: hidden;
}

div.panel-head span:last-of-type button:hover:after {
  position: absolute;
  content: "";
  top: 11px;
  left: 8px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: transparent transparent transparent white;
}

div.panel-head span:last-of-type button {
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

div.panel-head button:hover {
  background: darkgray;
}


/**
 * menu
 */

div.menu {
  position: fixed;
  min-width: 160px;
  padding: 5px 0;
  border: none;
  background-color: white;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

div.menu a {
  color: black;
  padding: 6px 12px;
  text-decoration: none;
  display: block;
  position: relative;
  cursor: pointer;
}

div.menu a.disabled {
  color: grey;
}

div.menu a:not(.disabled):hover {
  background-color: gainsboro;
}

div.menu hr {
  margin-left: 10px;
  margin-right: 10px;
}

div.menu > a:not(.disabled).dropdown:hover:after {
  position: absolute;
  content: "";
  top: calc(50% - 5px);
  right: 5px;
  border: 5px solid transparent;
  border-color: transparent transparent transparent dimgrey;
}


/**
 * dock
 */

div.dock {
  z-index: 2;
}

/**
 * toolbar
 */

div.toolbar {
  color: dimgray;
  background-color: white;
  height: 28px;
  border-bottom: 1px solid lightgray;
  flex-shrink: 0;
  position: -webkit-sticky;
  position: sticky; /* IE incompatible */
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.toolbar button {
  color: dimgray;
  background-color: transparent;
  height: 100%;
  min-width: 28px;
}

div.toolbar button:hover {
  color: black;
  background-color: lightgray;
}

div.toolbar span.spacer {
  display: inline-block;
  height: 18px;
  width: 2px;
  border-left: 1px solid lightgray;
  margin-left: 2px;
}


/** toast */

#toast {
  min-width: 250px;
  margin-left: -125px;
  background-color: dimgray;
  opacity: 0.75;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 15px 5px;
  position: fixed;
  z-index: 3;
  left: 50%;
  bottom: 50px;
}

#toast-msg {
  margin: 5px 30px;
  vertical-align: middle;
}

#toast-close-btn {
  font-size: 1.5em;
  background-color: dimgray;
  color: white;
  vertical-align: middle;
}

#toast-close-btn:hover {
  color: black;
  background-color: lightgray;
}

/* loading dots */
#loading-dots { margin-right: 10px;}
#loading-dots > span { animation: blinking 1.2s linear infinite; }
#loading-dots > span:nth-child(1) { animation-delay: 0.4s; }
#loading-dots > span:nth-child(2) { animation-delay: 0.8s; }
#loading-dots > span:nth-child(3) { animation-delay: 1.2s; }
@keyframes blinking { from { opacity: 0; } to { opacity: 1; } }


/** modal */

div.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
}

div.modal-content {
  border: none;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.25);
  background: white;
  max-width: 80%;
  margin: 5% auto;
  /* padding: 10px; */
  overflow: hidden;
}

div.modal-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding-left: 10px;
  font-weight: bold;
  color: white;
  background-color: dimgray;
}

div.modal-head button:last-child {
  height: 100%;
  min-width: 32px;
  color: white;
  font-size: 16px;
  background-color: transparent;
}

div.modal-head button:last-child:hover {
  background-color: darkgray;
}


/** button group (currently not used) */

/* span.btn-group button {
  height: 22px;
  color: dimgray;
}

span.btn-group button:first-child {
  border-radius: 7px 0 0 7px;
}

span.btn-group button:last-child {
  border-radius: 0 7px 7px 0;
}

span.btn-group button:not(:first-child):not(:last-child) {
  border-radius: 0;
}
*/


/* shared elements */

/** popup selects */

div.popup {
  position: fixed;
  z-index: 2;
  background-color: white;
  min-width: 100px;
  box-shadow: 3px 3px 15px lightgray;
}

div.popup p {
  margin: 5px 10px;
}

/** square table (for scale select) */

table.square td {
  width: 24px;
  height: 24px;
  color: dimgray;
  text-align: center;
  cursor: pointer;
}

table.square td:hover {
  background-color: lightgray;
  color: black;
}

/** generic auto-complete select */

#list-options {
  width: 100%;
  border: none;
}

#list-options td {
  padding: 5px;
  cursor: pointer;
}

#list-options td:hover {
  background-color: lightgray;
}

#list-options td.active {
  background-color: #a5cdff !important;
}

/** palette select */

#palette-select {
  max-height: 360px;
  overflow-y: auto;
}

#palette-select p {
  background-color: #EEE;
  margin: 0;
  padding: 3px;
}

#palette-select table tr {
  height: 24px;
  color: dimgray;
  text-align: left;
  cursor: pointer;
}

#palette-select table tr:hover {
  background-color: lightgray;
  color: black;
}

#palette-select table tr td:first-child {
  width: 60px;
}

#palette-select table tr td:last-child {
  width: 120px;
  padding: 3px;
}

#palette-select table tr td:last-child div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

#palette-select table tr td:last-child div span {
  display: inline-block;
  height: 100%;
  width: 100%;
}


/* main plot */

canvas.main-plot {
  min-width: 800px;
  min-height: 800px;
  position: absolute;
}

#coords-label {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0);
  color:dimgray;
  font-family: monospace;
  background: white;
  border: 1px solid dimgray;
}


/* drag & drop sign */

#drop-sign {
  position: absolute;
  border: 5px dashed lightgray;
  text-align: center;
  left: 100px;
  width: calc(100% - 200px);
  top: 100px;
  height: calc(100% - 200px);
}

#drop-sign p {
  font-size: xx-large;
  color:lightgray;
}


/**
 * dashboard
 */

#dash-frame {
  position: fixed;
  top: 0;
  left: 0;
}

/** start panel */

#start-panel {
  width: 100%;
  height: 32px;
}

#menu-btn {
  width: 100px;
  font-size: 12px;
  font-style: oblique;
  font-weight: bold;
}

#dash-btn {
  width: 32px;
}

#dash-btn:after {
  position: absolute;
  content: "";
  top: 13px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: white transparent transparent transparent;
}

#dash-btn.active:after {
  border-color: transparent transparent white transparent;
  top: 6px;
}

/** dash panel */

div.dash-content {
  color: black;
  background-color: white;
  padding: 10px 15px;
}

div.dash-content p {
  margin: 0;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.dash-content p *:first-child {
  margin-right: auto;
}

div.dash-content button {
  height: 24px;
  padding: 0 5px;
}

div.dash-content button.pressed {
  border: 1px solid darkgray;
  box-sizing: border-box;
}

div.dash-content > table {
  margin: 0 0 5px 0;
}

div.dash-content > table tr {
  line-height: 26px;
}

div.dash-content > table tr td {
  padding: 0;
  white-space: nowrap;
}

div.dash-content > table tr td:first-child {
  text-align: right;
  padding-right: 5px;
}

div.dash-content > table tr td:nth-child(2) {
  width: 100%;
  padding-right: 5px;
}

div.dash-content > table tr td:nth-child(2) input[type=text], select {
  width: 100%;
}

/** button inside text/select box */

div.dash-content > table tr td:nth-child(2) > div {
  display: inline-block;
  width: 100%;
}

div.dash-content > table tr td:nth-child(2) > div > button {
  margin-left: -24px;
  color: transparent;
  background: transparent;
}

div.dash-content > table tr td:nth-child(2):hover > div > button {
  color: gray;
}

div.dash-content > table tr td:nth-child(2) > div > button:hover {
  background-color: #EEE;
  color: black;
}

/** button emerging after text/select box */

div.dash-content > table tr td:last-child > span {
  visibility: hidden;
}

div.dash-content > table tr:hover td:last-child > span {
  visibility: visible;
}

div.dash-content > table tr td:last-child > span button {
  background-color: transparent;
  color: gray;
}

div.dash-content > table tr td:last-child > span button:hover {
  background-color: #EEE;
  color: black;
}


/**
 * mini plot
 */

#mini-canvas {
  width: 100%;
}

#mini-title {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
}

#mini-field-sel {
  max-width: 160px;
  text-align: center;
  border-bottom: none;
}

#mini-field-sel:hover {
  border-bottom: 1px solid dimgray;
}

#mini-ctrl {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

#mini-content:hover #mini-ctrl {
  display: flex;
  flex-direction: column;
}


/**
 * context menu
 */

#context-menu {
  position: fixed;
  min-width: 160px;
}


/**
 * widget frame
 */

#widget-frame {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#widget-frame:hover {
  opacity: 1.0;
}

#widget-frame > div {
  height: 32px;
  color: white;
  display: flex;
  align-items: center;
}

#widget-frame > div > button {
  height: 100%;
  width: 32px;
}

#widget-frame > div > button.pressed {
  color: black;
  background-color: white;
}

#widget-frame div:not(:first-child) {
  border-left: 1px solid white;
}

#widget-frame span.spacer {
  display: inline-block;
  height: 18px;
  width: 2px;
  border-left: 1px solid white;
  margin-left: 2px;
}

#widget-frame > div > div.dock {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 32px;
  flex-direction: column;
}

#widget-frame > div > div.menu {
  display: block;
  position: absolute;
  bottom: 32px;
}


/**
 * side frame
 */

#side-frame {
  width: 360px;
  min-width: 240px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: auto;
  background-color: #EEE;
}

/* show/hide buttons */

#show-frame {
  position: fixed;
  top: 0;
  right: 0;
}

#show-side-btn, #hide-side-btn{
  height: 32px;
  width: 32px;
}

#show-side-btn:after, #hide-side-btn:after{
  position: absolute;
  content: "";
  top: 12px;
  right: 12px;
  height: 0;
  width: 0;
  border: 4px solid transparent;
}

#show-side-btn:after {
  border-color: transparent transparent white white;
}

#hide-side-btn:after {
  border-color: white white transparent transparent;
}

div.side-content {
  border-top: 0;
  resize: vertical; /* IE incompatible */
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}


/* select panel */

#select-utils {
  padding-bottom: 5px;
}

#select-utils p {
  margin-top: 0;
  margin-bottom: 0;
}


/* bins panel */

#bin-table {
  width: 100%;
  border: none;
  flex-grow: 1;
  table-layout: fixed;
}

#bin-thead {
  background-color: #EEE;
}

#bin-tbody {
  overflow: auto;
  /* min-height: 100px; */
}

#bin-table th,td {
  padding: 2px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#bin-thead th {
  overflow: auto;
}

#bin-thead tr th {
  font-weight: normal;
}

#bin-tbody tr:hover {
  background-color: #EEE;
}

#bin-thead tr th:first-child {
  width: 40%;
  text-align: left;
}

#bin-thead tr th:nth-last-child(-n+3) {
  width: 20%;
  text-align: right;
}

#bin-tbody tr td:nth-last-child(-n+3) {
  text-align: right;
}

#bin-tbody tr.selected {
  background-color: #a5cdff;
}

#bin-tbody tr.current {
  font-weight: bold;
}

#bin-tbody input[type=text] {
  width: 100%;
}


/**
 * info panel
 */

/* information table */

#info-table {
  table-layout: fixed;
  border: none;
  width: 100%;
}

#info-table tr {
  line-height: 20px;
  height: 20px;
}

#info-table tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#info-table tr td:nth-child(1) {
  width: 25%;
  text-align: right;
  padding: 0 5px 0 0;
  font-weight: bold;
}

#info-table tr td:nth-child(2) {
  text-align: left;
  padding: 0 0 0 5px;
}

#info-table tr:hover {
  background-color: #EEE;
}

/** control span */

#info-ctrl {
  margin: 0;
  padding: 0;
  color: dimgray;
  float: right;
  display: block;
  position: fixed;
  height: 20px;
  right: 0;
  z-index: 2;
}

#info-ctrl button {
  background-color: transparent;
  color: dimgray;
  width: 20px;
  height: 100%;
  margin: 0;
  padding: 0;
}

#info-ctrl button:hover {
  background-color: #EEE;
  color: black;
}

#info-ctrl select {
  background-color: transparent;
  color: dimgray;
  height: 100%;
  padding: 0;
  border: none;
  min-width: 30px;
  max-width: 50px;
  cursor: pointer;
}

#info-ctrl select:hover {
  background-color: #EEE;
}


/* data table */

#data-table-container {
  max-height: 600px;
  overflow: auto;
}

table.sheet {
  border: none;
  background-color: white;
  table-layout: fixed;
}

table.sheet thead {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

table.sheet thead td {
  font-weight: bold;
  text-align: center;
  line-height: 200%;
}

table.sheet tbody td {
  text-align: left;
  /* overflow-wrap: break-word; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 5px;
  /* width: 100%;
  max-width: 0; */
}

table.sheet tbody tr:hover {
  background-color: #EEE;
}

table.sheet tbody td:hover {
  background-color: lightgray;
}

table.sheet tbody tr td:nth-last-child(2)+td {
  padding-left: 10px;
  text-align: left;
}

/* column widths by data type */

table.sheet thead td[data-type="id"] {
  max-width: 50px;
}

table.sheet thead td[data-type="number"] {
  max-width: 75px;
}

table.sheet thead td[data-type="category"] {
  max-width: 100px;
}

table.sheet thead td[data-type="feature"] {
  max-width: 150px;
}

table.sheet thead td[data-type="description"] {
  max-width: 150px;
}


table.sheet th.sortable {
  background-color: lightgray;
  cursor: pointer;
}

table.sheet td.key {
  text-align: right;
  font-weight: bold;
  padding-right: 5px;
}

table.sheet td.value {
  text-align: left;
  padding-left: 5px;
  background: initial;
  cursor: auto;
}

table.sheet td.valueplus {
  text-align: left;
  padding-left: 5px;
  background: lightgray;
  cursor: pointer;
}

table.sheet td.detail {
  text-align: left;
  padding: 10px;
  background-color: lightyellow;
  font-size: 80%;
}


/**
 * legends
 */

div.legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px;
}

div.legend label {
  display: inline-block;
  color: gray;
  padding: 0 5px;
  font-size: 9pt;
}

div.legend:hover label {
  color: black;
}

div.legend label.min {
  cursor: pointer;
  text-align: right;
}

div.legend:hover label.min {
  background-color: #EEE;
}

div.legend button {
  background-color: transparent;
  color: gray;
}

div.legend:hover button {
  background-color: #EEE;
  color: black;
}

div.legend div.gradient {
  margin: 0 5px;
  padding: 0;
  border: 0;
  height: 16px;
  width: 100%;
  cursor: text;
}

#size-gradient {
  box-sizing: border-box;
  border-top: 0 solid white;
  border-right: 0 solid dimgray;
}

#opacity-gradient {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) , black);
}

div.legend div.range {
  position: absolute;
  display: none;
  z-index: 3;
  cursor: move;
  height: 20px;
  background-color: white;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  cursor: col-resize;
}

div.legend:hover div.range {
  display: block;
}

div.legend div.range.lower {
  transform: translateX(-6px);
  border-left: 2px solid transparent;
  border-right: 4px solid darkgray;
  box-shadow: 1px 0 0 1px white;
}

div.legend div.range.upper {
  border-left: 4px solid darkgray;
  border-right: 2px solid transparent;
  box-shadow: -1px 0 0 1px white;
}

div.legend div.clip {
  position: absolute;
  z-index: 3;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  height: 16px;
  background-color: white;
}

div.legend:hover div.clip {
  background-color: lightgray;
}


/* legend value tooltip */

#legend-tip {
  z-index: 3;
  position: fixed;
  margin-top: 10px;
  transform: translateX(-50%);
  text-align: center;
  min-width: 50px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  line-height: 125%;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#legend-tip::before {
  content: " ";
  position: absolute;
  left: calc(50% - 5px);
  bottom: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

#legend-tip::after {
  content: " ";
  position: absolute;
  left: calc(50% - 4px);
  bottom: 100%;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

#legend-circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  margin: 5px 10px 5px 0;
}

#legend-value {
  display: inline-block;
}


/** color table */

#color-legend-2 {
  margin: 10px 15px;
  max-height: 360px;
  overflow-y: auto;
  position: relative;
}

#color-table-ctrl {
  display: none;
  position: absolute;
  top: 5px;
  right: 0;
}

#color-legend-2:hover #color-table-ctrl {
  display: flex;
  flex-direction: column;
}

#color-legend-2 table {
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;
  font-size: 9pt;
}

#color-legend-2 table tr {
  height: 16px;
  line-height: 16px;
}

#color-legend-2 table tr td {
  color: dimgray;
  text-align: left;
}

#color-legend-2 table tr:hover td {
  color: black;
}

#color-legend-2 table tr td:first-child {
  width: 16px;
  min-width: 16px;
  cursor: pointer;
  padding: 3px;
}

#color-legend-2 table tr td:first-child div {
  font-size: 10%;
}

#color-legend-2 table tr td:last-child {
  padding-left: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
