/** dock dimension */

#side-frame {
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
}

#dash-panel {
  width: 280px;
}

#set-panel > div {
  width: 180px;
}

/** colors **/

div.dock {
  background-color: dimgray;
  opacity: 0.5;
}

div.dock.active {
  opacity: 1.0;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
}

div.dock > div > button {
  cursor: pointer;
  border: none;
  margin: 0;
  color: white;
  background-color: transparent;
  height: 100%;
}

div.dock > div > button:enabled:hover {
  background-color: darkgray;
}



/** help window */

#quick-help {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid gray;
  background-color: white;
}

#quick-help p {
  padding-left: 10px;
}

#quick-help p:first-child {
  font-size: 120%;
  font-weight: 500; 
}

#quick-help hr {
  text-align: left;
  margin-left: 10px;
  width: 100px;
  border: 0;
  height: 1px;
  background-color: darkgray;
}

#quick-help ul {
  margin-left: 20px;
  margin-bottom: 5px;
  line-height: 150%;
}



/* program-accessible styles */

/* color scheme */

#selection-color {
  color: royalblue;
}

#polygon-color {
  color: royalblue;
}
